<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
        <button mat-button >
            <mat-icon>eco</mat-icon>
            <span>Data management Application</span>
        </button>
       
     <button mat-button routerLink='Home'>Home</button>
     <button mat-button routerLink='Profile'>Profile</button>
     <button mat-button routerLink='courses'>Detail</button>
     <button mat-button routerLink='About'>About</button>
     <button mat-raised-button color= "accent" routerLink='Sign-up'>Sign-up</button>
    </div>
    
    <div>
        <button  mat-icon-button>
            <mat-icon>more_vert</mat-icon>
           
        </button>
    
    </div>
  